A:link {
	COLOR: #0000ff
}
A:visited {
	COLOR: #6666ff
}
A:active {
	COLOR: #6666ff
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
H1 {
	FONT-SIZE: 20pt; COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
H2 {
	FONT-SIZE: 15pt; COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
H3 {
	FONT-SIZE: 14pt; COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
H4 {
	FONT-SIZE: 12pt; COLOR: #006600; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
H5 {
	FONT-SIZE: 11pt; COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #006666; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
BODY {
	MARGIN-TOP: 2pt; FONT-SIZE: 10pt; MARGIN-LEFT: 3pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
BLOCKQUOTE.synopsis {
	FONT-SIZE: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
BLOCKQUOTE.body {
	MARGIN-TOP: 0pt; FONT-SIZE: 10pt; MARGIN-BOTTOM: 0pt; MARGIN-LEFT: 0pt; TEXT-INDENT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TABLE {
	MARGIN-TOP: 0pt; FONT-SIZE: 10pt; MARGIN-LEFT: 0pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
P.tent {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
UL {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
LI {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
HR {
	COLOR: #009900
}
DIV.box {
	BORDER-RIGHT: thin; BORDER-TOP: thin; FONT-SIZE: 11pt; BACKGROUND: rgb(204,204,255); BORDER-LEFT: thin; BORDER-BOTTOM: thin
}
PRE {
	FONT-SIZE: 11pt
}
PRE {
	FONT-FAMILY: monospace
}
