/* PHPLIST CSS Document */
.phplist fieldset legend {
	font-size:1.1em; /* bump up legend font size, not too large or it'll overwrite border on left */
                       /* be careful with padding, it'll shift the nice offset on top of border  */
}
.phplist label { 
	display: block;  /* block float the labels to left column, set a width */
	float: left; 
	width: 40px; 
	padding: 0; 
	margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
	text-align: right; 
}
.phplist {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
  font:100% verdana,arial,sans-serif;
  margin: 0;
  padding: 0;
/*  min-width: 500px;
  max-width: 700px;
  width: 660px; */
}
/* Use to style multiple lists */
.phplist .list {
	list-style-type: none;
}
/* Caption for multiple lists */
.phplist .caption {

}
.phplist fieldset {
  / * clear: both; note that this clear causes inputs to break to left in ie5.x mac, commented out */
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 10px;        /* padding in fieldset support spotty in IE */
  margin: 0;
}
.phplist input, .phplist textarea, .phplist select{
	/* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
	width:auto;      /* set width of form elements to auto-size, otherwise watch for wrap on resize */
	margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}

.phplist input#reset {
	margin-left:0px; /* set margin-left back to zero on reset button (set above) */
}

.phplist textarea{ overflow: auto; }

.phplist small {
	display: block;
	margin: 0 0 5px 160px; /* instructions/comments left margin set to align w/ right column inputs */
	padding: 1px 3px;
	font-size: 88%;
}
.phplist .required{
	font-weight:bold; 
	color:red;
} 
.phplist .requiredOutline {
	border: 1px solid #ff0000;
}

/* uses class instead of div, more efficient */
.phplist br {
	clear:left; /* setting clear on inputs didn't work consistently, so brs added for degrade */
}
/* End Contact Form CSS */
