A {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: black; FONT-FAMILY: verdana, sans-serif; TEXT-DECORATION: none
}
A.menu {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: black; FONT-FAMILY: verdana, sans-serif; TEXT-DECORATION: none
}
A.menu:visited {
	FONT-SIZE: 8pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: black; TEXT-DECORATION: none
}
A.menu:active {
	FONT-SIZE: 8pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: black; TEXT-DECORATION: none
}
A.menu:hover {
	FONT-SIZE: 8pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: rgb(0,0,0); TEXT-DECORATION: none
}
A {
	FONT-SIZE: 9pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: rgb(55,89,123); TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 9pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: rgb(55,89,123); TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: rgb(55,89,123); TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: rgb(0,0,0); TEXT-DECORATION: underline
}
BODY {
	FONT-SIZE: 9pt; MARGIN: 0pt; COLOR: rgb(0,0,0); FONT-FAMILY: verdana,sans-serif; BACKGROUND-COLOR: rgb(255,255,255)
}
.discussion {
	FONT-SIZE: 9pt; MARGIN: 0pt; COLOR: rgb(0,0,0); FONT-FAMILY: verdana,sans-serif; BACKGROUND-COLOR: rgb(255,255,255)
}
.code {
	FONT-SIZE: 9pt; MARGIN: 0pt; COLOR: rgb(0,0,0); FONT-FAMILY: verdana,sans-serif; BACKGROUND-COLOR: rgb(255,255,255)
}
.concept {
	FONT-SIZE: 9pt; MARGIN: 0pt; COLOR: rgb(0,0,0); FONT-FAMILY: verdana,sans-serif; BACKGROUND-COLOR: rgb(255,255,255)
}
.discussion {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.code {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.concept {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.concept {
	FONT-WEIGHT: bold
}
.code {
	BACKGROUND: rgb(231,231,231)
}
A.topic:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; FONT-FAMILY: verdana,sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.topic:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; FONT-FAMILY: verdana,sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.topic:active {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; FONT-FAMILY: verdana,sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.topic:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; FONT-FAMILY: verdana,sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.topic:link {
	COLOR: rgb(55,89,123)
}
A.topic:visited {
	COLOR: rgb(55,89,123)
}
A.topic:active {
	COLOR: rgb(55,89,123)
}
A.topic:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: rgb(0,0,0); TEXT-DECORATION: underline
}
A.index:link {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: rgb(130,130,130); FONT-FAMILY: verdana,sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.index:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: rgb(130,130,130); FONT-FAMILY: verdana,sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.index:active {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: rgb(130,130,130); FONT-FAMILY: verdana,sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.index:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: rgb(130,130,130); FONT-FAMILY: verdana,sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.index:hover {
	COLOR: rgb(102,153,204)
}
TD.menu {
	BORDER-RIGHT: rgb(231,231,230) 1px solid; BORDER-TOP: rgb(231,231,230) 1px solid; BORDER-LEFT: rgb(231,231,230) 1px solid; CURSOR: hand; COLOR: rgb(102,102,102); BORDER-BOTTOM: rgb(231,231,230) 1px solid; HEIGHT: 21px; BACKGROUND-COLOR: rgb(231,231,231); url: 
}
