.MATH {
	FONT-FAMILY: "Century Schoolbook", serif
}
.MATH I {
	FONT-WEIGHT: bold; FONT-FAMILY: "Century Schoolbook", serif
}
.BOLDMATH {
	FONT-WEIGHT: bold; FONT-FAMILY: "Century Schoolbook", serif
}
SMALL.XTINY {
	FONT-SIZE: xx-small
}
SMALL.TINY {
	FONT-SIZE: x-small
}
SMALL.SCRIPTSIZE {
	FONT-SIZE: smaller
}
SMALL.FOOTNOTESIZE {
	FONT-SIZE: small
}
SMALL.SMALL {
	
}
BIG.LARGE {
	
}
BIG.XLARGE {
	FONT-SIZE: large
}
BIG.XXLARGE {
	FONT-SIZE: x-large
}
BIG.HUGE {
	FONT-SIZE: larger
}
BIG.XHUGE {
	FONT-SIZE: xx-large
}
